
.region-header {
  padding-left: 1rem;
}

.region-container {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
.region-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
} 